Job: "Qstar_jj_15TeV"
  OutputDir:Outputs/fcc_v02/Qstar/jj/
  Label: "Qstar"
  CmeLabel: "100 TeV"
  LumiLabel: "30 ab^{-1}"
  POI: "SigXsecOverSM"
  ReadFrom: HIST
  %HistoPath: "/eos/experiment/fcc/hh/analyses/Zprime_tt/FlatTreeAnalyzer_outputs/fcc_v02/sel0/root_m_Z_15TeV/"
  HistoPath: "/afs/cern.ch/user/h/helsens/FCCsoft/FlatTreeAnalyzer/outputs/analysis_fcc_v02/dijetres/root_m_Q*_15TeV/"
  DebugLevel: 0
  SystControlPlots: TRUE
  Lumi: 30000000
  MCstatThreshold: 0.05
  FCCLabel:"Simulation"

Fit: "fit"
  FitType: SPLUSB
  FitRegion: CRSR
  UseMinos: SigXsecOverSM

Limit: "limit"
  LimitType: ASYMPTOTIC
  POIAsimov: 0

Region: "SR1"
  Type: SIGNAL
  HistoFile: "histos"    
  VariableTitle: "m_{Q*} [GeV]"
  Label: "Signal Region"
  ShortLabel: "SR-sel0"
  Rebin:10
  LogScale:TRUE

Sample: "dijet"
  Type: BACKGROUND
  Title: "dijet"
  FillColor: 400
  LineColor: 1
  HistoFile: "histos"
  HistoName: "QCD_sel0_Mj1j2_pf04"
  NormalizedByTheory:TRUE 

Sample: "Qstar"
  Type: SIGNAL
  Title: "Qstar"
  FillColor: 632
  LineColor: 632
  HistoFile: "histos"
  HistoName: "m_{Q*} = 15 TeV_sel0_Mj1j2_pf04"
  NormalizedByTheory:TRUE 

NormFactor: "SigXsecOverSM"
  Title: "#mu(Q*)"
  Nominal: 1
  Min: -1000
  Max: 1000
  Samples: Qstar
  Category: Theory

Systematic: "dijetXsec"
  Title: "dijet Cross section"
  Type: OVERALL
  OverallUp: 0.50
  OverallDown: -0.50
  Samples: dijet
