Job: "tua"
  OutputDir:OUTPUT/fcnc_may_05_tune_3_BDT_2_000
  Label: "t #rightarrow u #gamma"
  CmeLabel: "100 TeV"
  LumiLabel: "30 ab^{-1}"
  POI: "SigXsecOverMC"
  ReadFrom: HIST
  HistoPath: "/afs/cern.ch/work/p/pmandrik/fcc_100TeV/6_tmva/OUTPUT/fcnc_may_05_plots/"
  DebugLevel: 0
  SystControlPlots: TRUE
  Lumi: 30000000
  MCstatThreshold: 0.05
  FCCLabel:"Simulation"

Fit: "fit"
  FitType: SPLUSB
  FitRegion: CRSR
  UseMinos: SigXsecOverMC

Limit: "limit"
  LimitType: ASYMPTOTIC
  POIAsimov: 0

Region: "BDT"
  Type: SIGNAL
  HistoFile: "hists"
  VariableTitle: "BDT"
  Label: "BDT"
  ShortLabel: "BDT"
  #Rebin:20
  LogScale:FALSE
  #DataType : ASIMOV

Sample: "tau"
  Type: SIGNAL
  Title:"t #rightarrow #gamma u"
  FillColor: 632
  LineColor: 632
  HistoFile: "hists" 
  HistoName: "tau_weight_tune_3_BDT_2_000" 
  NormalizedByTheory:FALSE 

NormFactor: "SigXsecOverMC"
  Title: "#mu(tau)"
  Nominal: 0
  Min: -10
  Max: 10
  Samples: tau
  Category: Theory

Sample: "ajets"
  Type: BACKGROUND
  Title: "ajets"
  FillColor: 1
  LineColor: 1
  HistoFile: "hists" 
  HistoName: "ajets_weight_tune_3_BDT_2_000" 
  NormalizedByTheory: FALSE 

Systematic: "ajetsXsec"
  Title: "#gamma + jets Cross section"
  Type: OVERALL
  OverallUp: 0.30
  OverallDown: -0.30
  Samples: ajets


Sample: "other"
  Type: BACKGROUND
  Title: "other"
  FillColor: 4
  LineColor: 1
  HistoFile: "hists" 
  HistoName: "other_weight_tune_3_BDT_2_000" 
  NormalizedByTheory: FALSE 

Systematic: "otherXsec"
  Title: "other Cross section"
  Type: OVERALL
  OverallUp: 0.30
  OverallDown: -0.30
  Samples: other

Sample: "tjets"
  Type: BACKGROUND
  Title:"tjets"
  FillColor: 5
  LineColor: 1
  HistoFile: "hists" 
  HistoName: "tjets_weight_tune_3_BDT_2_000" 
  NormalizedByTheory:FALSE 

Systematic: "tjetsXsec"
  Title: "t + jets Cross section"
  Type: OVERALL
  OverallUp: 0.30
  OverallDown: -0.30
  Samples: tjets

Sample: "ttjets"
  Type: BACKGROUND
  Title:"t#bar{t} + jets"
  FillColor: 6
  LineColor: 1
  HistoFile: "hists" 
  HistoName: "ttjets_weight_tune_3_BDT_2_000" 
  NormalizedByTheory:FALSE

Systematic: "ttjetsXsec"
  Title: "t#bar{t} + jets Cross section"
  Type: OVERALL
  OverallUp: 0.30
  OverallDown: -0.30
  Samples: ttjets

Sample: "Wjets"
  Type: BACKGROUND
  Title:"W + jets"
  FillColor: 7
  LineColor: 1
  HistoFile: "hists" 
  HistoName: "Wjets_weight_tune_3_BDT_2_000" 
  NormalizedByTheory:FALSE

Systematic: "WjetsXsec"
  Title: "W + jets Cross section"
  Type: OVERALL
  OverallUp: 0.30
  OverallDown: -0.30
  Samples: Wjets

Sample: "Zjets"
  Type: BACKGROUND
  Title:"Z + jets"
  FillColor: 8
  LineColor: 1
  HistoFile: "hists" 
  HistoName: "Zjets_weight_tune_3_BDT_2_000" 
  NormalizedByTheory:FALSE

Systematic: "ZjetsXsec"
  Title: "Z + jets Cross section"
  Type: OVERALL
  OverallUp: 0.30
  OverallDown: -0.30
  Samples: Zjets


