Job: "Zprime_tt_15TeV"
  OutputDir:Outputs/fcc_v02/Zprime/tt/
  Label: "Zprime"
  CmeLabel: "100 TeV"
  LumiLabel: "30 ab^{-1}"
  POI: "SigXsecOverSM"
  ReadFrom: HIST
  HistoPath: "/eos/experiment/fcc/hh/analyses/Zprime_tt/FlatTreeAnalyzer_outputs/fcc_v02/cut_tagger_directbtag_trfbtag/root_m_Z_15TeV/"
  DebugLevel: 0
  SystControlPlots: TRUE
  Lumi: 30000000
  MCstatThreshold: 0.05
  FCCLabel:"Simulation"

Fit: "fit"
  FitType: SPLUSB
  FitRegion: CRSR
  UseMinos: SigXsecOverSM

Limit: "limit"
  LimitType: ASYMPTOTIC
  POIAsimov: 0

Region: "SR1"
  Type: SIGNAL
  HistoFile: "histos"    
  VariableTitle: "m_{Zprime} [GeV]"
  Label: "Signal Region"
  ShortLabel: "SR-sel0"
  Rebin:9
  LogScale:TRUE

Sample: "ttbar"
  Type: BACKGROUND
  Title: "ttbar"
  FillColor: 400
  LineColor: 1
  HistoFile: "histos"
  HistoName: "tt_sel8_Mj1j2_pf08_MetCorr"
  NormalizedByTheory:TRUE 

Sample: "vv"
  Type: BACKGROUND
  Title: "vv"
  FillColor: 92
  LineColor: 1
  HistoFile: "histos"
  HistoName: "vv_sel8_Mj1j2_pf08_MetCorr""
  NormalizedByTheory:TRUE

Sample: "vj"
  Type: BACKGROUND
  Title: "vj"
  FillColor: 92
  LineColor: 1
  HistoFile: "histos"
  HistoName: "vj_sel8_Mj1j2_pf08_MetCorr""
  NormalizedByTheory:TRUE

Sample: "QCD"
  Type: BACKGROUND
  Title: "QCD"
  FillColor: 62
  LineColor: 1
  HistoFile: "histos"
  HistoName: "QCD_sel8_Mj1j2_pf08_MetCorr""
  NormalizedByTheory:TRUE

Sample: "Zprime"
  Type: SIGNAL
  Title: "Z\'"
  FillColor: 632
  LineColor: 632
  HistoFile: "histos"
  HistoName: "m_{Z} = 15 TeV_sel8_Mj1j2_pf08_MetCorr"
  NormalizedByTheory:TRUE 

NormFactor: "SigXsecOverSM"
  Title: "#mu(Zprime)"
  Nominal: 1
  Min: -1000
  Max: 1000
  Samples: Zprime
  Category: Theory

Systematic: "ttbarXsec"
  Title: "ttbar Cross section"
  Type: OVERALL
  OverallUp: 0.20
  OverallDown: -0.20
  Samples: ttbar

Systematic: "QCDXsec"
  Title: "QCD Cross section"
  Type: OVERALL
  OverallUp: 0.50
  OverallDown: -0.50
  Samples: QCD

Systematic: "vvXsec"
  Title: "vv Cross section"
  Type: OVERALL
  OverallUp: 0.20
  OverallDown: -0.20
  Samples: vv

Systematic: "vjXsec"
  Title: "vj Cross section"
  Type: OVERALL
  OverallUp: 0.40
  OverallDown: -0.40
  Samples: vj

